.cardContour {
  border: 2px white solid;
  background-color: #5198b4;
  border-radius: 15px;
  padding: 25px;
  max-width: 250px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  border: 1px solid white;
}

.cardText {
  min-height: 160px;
}

.cardTitle {
  border-bottom: 1px white solid;
}

.cardDescription {
  text-align: left;
  white-space: pre-line;
}

.linkedButton {
  width: 100%;
}
