img {
  height: 35px;
  background-color: #6dcff6;
  padding: 6px;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img:hover {
  background-color: #417c94;
}

input {
  padding: 15px;
  border: none;
  background-color: hsl(240, 7%, 14%);
  color: #ffffff;
}

.SearchBar {
  display: flex;
  text-decoration: none;
  border-radius: 0 15px 0 15px;
  overflow: hidden;
  border: 2px solid #ffffff;
}
