#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 700px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points {
  display: flex;
  gap: 50px;
  padding: 0 20px 0 20px;
  border-radius: 8px;
  margin-top: 10px;
}

.memory {
  display: flex;
  align-items: flex-end;
}
