.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  color: white;
  background-color: black;
}

.hello {
  border-top: 2px solid white;
  width: 100%;
  display: flex;
  justify-content: center;
}
